*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}


.dark{
  background: rgba(2, 6, 23, 0.95);
  color: white;
  max-width: 1400px;

}

.light{
  background: #CBD5E1;
  max-width: 1400px;
}

.navbar{
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(2, 6, 23, 0.85);
  -webkit-backdrop-filter: blur(10px); 
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  place-items: center;
  z-index: 50;
  max-width: 1400px;
  
}

.logo-links{
  display: flex;
  gap: 90px;
  place-items: center;
}

.links{
  display: flex;
  gap: 20px;
  text-decoration: none;
  
}

.link{
  text-decoration: none;
  color: #CBD5E1;
}

.link:hover{
  color: #FBBF24;
}

.logo{
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #FBBF24;
}

.sun-moon{
  cursor: pointer;
  transition: opacity 0.12s ease;
}

.sun-moon:hover{
  opacity: 0.8;
}

.sun-moon:active{
  opacity: 0.4;
}

.ham-span{
  width: 32px;
  height: 4px;
  background: #CBD5E1;
  display: none;
  flex-direction: column;
  margin-bottom: 4px;
  
}

.hamburger{
  cursor: pointer;
}

.hamburger:active{
  opacity: 0.4;
}

.sm-ham{
  display: flex;
  gap: 5px;
  align-items: flex-end;
  place-items: center;
}


.small-links, .small-links-active{
  display: none;
}

@media(max-width: 780px){
  .links{
    display: none;
  }
  .ham-span{
    display: flex;
  }

  .small-links {
    left: -100%;
  }

  .small-links-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(2, 6, 23, 0.95);
    transition: left 0.3s ease;
    z-index: 100; 
  }

  .small-links-active .link{
    cursor: pointer;
  }
 

  .small-links-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50% auto;
  }

  .small-links-flex > * {
    padding: 10px;
    font-size: 1.4rem;
  }

  .cancel{
    position: absolute;
    top: 0;
    right: 20px;
  }
}



/*Hero Section*/

.hero-section{
  position: relative;
  max-width: 1400px;
  margin: 0 auto auto auto;
  height: 100vh;
}

.hero-image{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
}

.call-to-action{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 4rem;
  width: 100%;
}

.call-to-action h1{
  color: #ffff;
  text-align: center;
  margin-bottom: 8px;
  font-family: 'Cinzel', serif;
}

.call-to-action p{
  color: #b4aeae;
  margin: 0 auto 30px auto;
  text-align: center;
  line-height: 21px;
}

.trends{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending{
  color: #FBBF24;
  margin-bottom: 0.5em;
  text-align: left;
}

.hero-btns{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2em;
}

.hero-btns button{
  padding: 10px 35px;
  border-radius: 20px;
}

.watchlist{
  background: rgba(0, 0, 0, 0.4);
  color: #CBD5E1;
  border: 1px #CBD5E1 solid;
  transition: all 0.12s ease-in-out;
}

.explore{
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px #FBBF24 solid;
  box-shadow: 0 0 40px #FBBF24;
  transition: all 0.12s ease-in-out;
}

.explore:hover, .watchlist:hover{
  opacity: 0.8;
  transform: scale(1.02);
}

.explore:active, .watchlist:active{
  opacity: 0.3;
}

.search-query{
  position: relative;
  width: 480px;
  margin: auto;
}

.query{
  width: 100%;
  padding: 10px ;  
  border: 1px #FBBF24 solid;
  box-shadow: 0 0 10px #FBBF24;
  border-radius: 20px;
  background: #CBD5E1;
}

.query::placeholder{
  color: white;
}

.search-wrapper{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
}

.search-icon{
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(2, 6, 23, 0.85);
  margin: auto;
  padding: 5.4px;
  border-radius: 0 20px 20px 0;
  border: 1px #FBBF24 solid;
  box-shadow: 0 0 10px #FBBF24;
  transition: all 0.15s ease-in;
}

.search-icon:hover{
  opacity: 0.8;
}

.search-icon:active{
  opacity: 0.4;
}

.mov {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 10px;
  margin: 0 auto 20px auto;
  width: 1200px;
  color: #CBD5E1;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.mov::-webkit-scrollbar {
  display: none;
}

.hero-card {
  min-width: 250px;
  height: 120px;
  display: flex;
  gap: 10px;
  border-radius: 20px;
  border: 1px #CBD5E1 solid;
  background: rgba(2, 6, 23, 0.85);
  transition: all 0.55s ease;
  
}

.hero-card:hover{
  box-shadow: 0 0 10px #c6d1df;
  transform: scale(1.04);
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-card h3, .hero-card p{
  padding: 10px;
}
.hero-img-div{
  width: 90px;
  height: 100%;
}

.hero-img-div img{
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.load-img{
  width: 20px;
}

@media(max-width: 480px){
  .mov{
    overflow: hidden;
  }
}


.movie-card {
  width: 320px;
  cursor: pointer;
  margin: 15px auto;
  transition: transform 0.3s ease;
  border-radius: 8px;
  position: relative;
}

.movie-info{
  
  padding: 8px;
  margin-top: 10px;
}


.thumbnail {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.05);
  
}

.dots-btn{
  width: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: all 0.15s ease-in-out;
  border-radius: 4px;
}

.dots-btn:hover{
  opacity: 0.8;
}

.dots-btn:active{
  opacity: 0.4;
}

.dots{
  width: 100%;
  cursor: pointer;
  
}

.duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.8);
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 4px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: 1.4;
}

.release-date {
  font-size: 13px;
  color: #aaa;
  margin-top: 4px;
}

.pop-up-btns{
  width: 150px;
  padding: 20px 10px;
  height: auto;
  background: #CBD5E1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  top: 40px;
  left: 20px;
  border-radius: 10px;

}

.pop-up-btns li{
  border: none;
  cursor: pointer;
  list-style: none;
  padding: 4px;
  color: black;
}

.pop-up-btns li:hover{
  background: rgba(2, 6, 23, 0.95);
  color: #CBD5E1;
}




.searched-movies{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;
  padding-top: 40px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal-content {
  display: flex;
  gap: 30px;
  min-width: 1200px;
  background: rgba(2, 6, 23, 0.85) ;
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  overflow-y: scroll;
}



.modal-img-wrapper{
  width: 30%;
  height: 100%;
}

.modal-text{
  height: 100%;
  width: 70%;
  align-self: center;
}

.modal-text h2, .modal-text p{
  margin: 20px auto;
}

.modal-text p{
  color: #FBBF24;
}

.modal-img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.modal-btn{
  padding: 8px 26px;
  margin: 15px auto;
  background: #CBD5E1;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all ease 0.15s;
}

.modal-btn:hover{
  transform: scale(1.05);
}

.footer{
  width: 100%;
 display: flex;
 justify-content: center;
  padding: 20px;
  background: rgba(2, 6, 23, 0.95);
  color: #CBD5E1;
}